.img-wrap {
  position: relative;
  overflow: hidden;
}

.main-img {
  height: 100vh;
}

.xl-font {
  font-size: 2rem;
}

.zoom:hover {
  transform: scale(1.2);
  transition: .2s;
}

.head-font {
  font-size: 5rem;
}

.subtitle-font {
  font-size: 4rem;
}

:root {

  --offwhite: #EDEDE6;
  --beige: #BFB6A8;
  --yellow: #DECC00;
  --grey: #636159;
  --dark-grey: #1C241F;

}
.yellow-text{
  color: var(--yellow);
}
.offwhite-text {
  color: var(--offwhite);
}
.beige-text {
  color: var(--beige);
}
.dark-grey {
  background-color: var(--dark-grey);
}
.yellow {
  background-color: var(--yellow);
}
.beige {
  background-color: var(--beige);
}
.grey {
  background-color: var(--grey);
}
.offwhite {
  background-color: var(--offwhite);
}


body {

  font-family: 'Noto Sans', sans-serif;
}

.text-over-image {
  position: absolute;
  left: 0%;
  right: 0%;
  background-color: rgba(0,0,0,.3);
}

.glow {
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

.nav-link-glow:hover {
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #FFF829, 0 0 40px #FFF829, 0 0 50px #FFF829, 0 0 60px #FFF829, 0 0 70px #FFF829;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #FFFA75, 0 0 40px #FFFA75, 0 0 50px #FFFA75, 0 0 60px #FFFA75, 0 0 70px #FFFA75, 0 0 80px #FFFA75;
  }
}


